body
{
    display: flex;
    min-height: 95vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #103f7d;
}

#content
{
    color: whitesmoke;
}

.error_msg
{
    font-size: large;
}

#go_home
{
    margin-top: 40px;
    color: gold;
    font-size: xx-large;
    width: 100%;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    display: block;
}

#go_home:hover
{
    color: wheat;
}

.noselect 
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}

.undisplayable
{
    display: none;
}

